<!DOCTYPE html>
static
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h2>I am here</h2>
    
    {% if recipes %}
        {% for item in recipes %}
            <h5>{{ item }}</h5>
        {% endfor %}
    {% endif %}
        
    <h5>{{ insert_me}}</h5>
    <br>
    <a href="detail/">details</a><br> 
    <img src="{% static 'images/w.png' %}" width="200" height="150" alt="">
    <br>
    <img src="{% static 'images/w.png' %}" width="200" height="150" alt="">
    
</body>
</html>